.imgAndTitleGoy {
    display: flex;
    width: 100%;
    height: 501px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background: url("../images/titleBackground.png") no-repeat ;
    background-size: cover;
    background-position: left bottom;
    color: #FFFFFF;
    font-family: "DaxlinePro";
}