.imagesContainerForKatibler {
  margin-top: 60px;
  background-color: none;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 98px;
  grid-row-gap: 170px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

@font-face {
  font-family: "DaxlinePro";
  src: url("../Fonts/DaxlinePro-Bold.otf");
  src: url("../Fonts/DaxlinePro-ExtraBold.otf");
  src: url("../Fonts/DaxlinePro-Light.otf");
  src: url("../Fonts/DaxlinePro-Medium.otf");
  src: url("../Fonts/DaxlinePro.otf");
  font-family: "Break Fill";
  src: url("../Fonts/Break-Fill Bold.otf");
  src: url("../Fonts/Break-Fill Extralight.otf");
  src: url("../Fonts/Break-Fill Light.otf");
  src: url("../Fonts/Break-Fill Regular.otf");
  src: url("../Fonts/Break-Fill Semibold.otf");
}

.structurPage {
  font-family: "DaxlinePro";
  width: 100%;
}

.imgAndStructur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 501px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  background: url("../images/titleBackground.png") no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.structurPage main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.textAboutStructur {
  margin-top: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.textAboutStructur p {
  margin: 0;
  padding: 0px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1270px;
  margin-top: 46.5px;
  font-family: "Break Fill";
}

.textAboutStructur p:nth-child(1) {
  margin-top: 0px;
}

.textIcra {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer {
  margin-top: 60px;
  background-color: none;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 98px;
  grid-row-gap: 170px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.mainContainer .card {
  width: 394px;
  height: 646px;
  background-color: white;
}

.lastItemCenterChecker {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.avatarImage {
  width: 394px;
  height: 526px;
  position: absolute;
}

.aboutKatibContainer p {
  margin: 0;
}

.logoAtgti {
  width: 60px;
  height: 60px;
  position: absolute;
  margin-top: 14px;
  margin-left: 7px;
  z-index: 1;
}

.contentAboutAvatar {
  width: 350px;
  height: 178px;
  position: absolute;
  margin-top: 432px;
  margin-left: 24px;
  background: #465E93;
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.contentAboutAvatar hr {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 70%;
  position: absolute;
  margin-top: 100px;
}

.contentAboutAvatar i {
  color: white;
  width: 28px;
  font-size: 28px;
  margin-left: 18px;
}

.contentAboutAvatar i:nth-child(2) {
  margin-left: 10px;
}

.avatarName {
  margin: 0;
  font-size: 29px;
  font-weight: 700;
  color: white;
}

.avatarSubText {
  margin: 0;
  font-size: 21px;
  font-family: Break Fill;
  color: #CDCDCD;
  width: 50x !important;
  margin-top: 15px;
  text-align: center;
}

.iconContainer {
  position: absolute;
  margin-top: 120px;
}

.card:hover .contentAboutAvatar {
  -webkit-box-shadow: 31px -36px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 31px -36px 30px rgba(0, 0, 0, 0.25);
}

.idareHeyetiContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 82.5px;
  margin-top: 41px;
}

.buttonContainer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 110px;
  height: 46px;
  position: absolute;
  margin-left: 1155px;
  top: 5%;
}

.leftButton {
  width: 46px;
  height: 46px;
  float: left;
  border: none;
  background: #465E93;
  -webkit-box-shadow: 5px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 1px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightButton {
  width: 46px;
  height: 46px;
  float: right;
  border: none;
  background: #465E93;
  -webkit-box-shadow: 5px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 1px 4px rgba(0, 0, 0, 0.25);
}

.idareHeyet {
  width: 395px;
  height: 489px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px  0px 13px 13px  lightgray;
          box-shadow: 0px  0px 13px 13px  lightgray;
}

.avatarTextContainer {
  background: #465E93;
  width: 100%;
  color: white;
  font-size: 29px;
  text-align: center;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s background-color;
  transition: 1s background-color;
}

.avatarTextContainer p {
  margin: 0;
  z-index: 1;
}

.idareImg {
  z-index: 0.5;
  width: 327px;
  height: 378px;
  padding-top: 51px;
  opacity: 1;
}

.idareHeyet:hover .overlay {
  opacity: 1;
}

.idareHeyet:hover .avatarTextContainer {
  background: rgba(70, 94, 147, 0.83);
}

.overlay {
  position: absolute;
  opacity: 0;
  width: 382px;
  height: 407px;
  background: rgba(70, 94, 147, 0.83);
  padding-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.overlay img {
  margin-top: 20px;
}

.overlay p {
  margin: 0;
  margin-top: 26.5px;
  color: white;
  text-align: center;
  font-size: 21px;
}

.overlay hr {
  margin: 0px;
  position: absolute;
  margin-top: 175px;
  width: 70%;
}

.overlay .iconContainer2 {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
}

.overlay .iconContainer2 i {
  color: white;
  width: 28px;
  font-size: 28px;
  margin-left: 18px;
}

.overlay .iconContainer2 i:nth-child(2) {
  margin-left: 10px;
}

.overlay p {
  font-family: Break Fill;
}

@media screen and (min-width: 1392px) {
  .mainContainer {
    margin-top: 60px;
    background-color: none;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column-gap: 98px;
    grid-row-gap: 170px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=structur.css.map */