.imagesContainerForKatibler
{
    margin-top: 60px;
    background-color: none;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-column-gap: 98px;
    grid-row-gap: 170px;
    grid-template-columns: repeat(2, 1fr);
}
body
{
    margin: 0;
    padding: 0;
    background-color: white;
}
@font-face
{
    font-family: "DaxlinePro";
    src:url('../Fonts/DaxlinePro-Bold.otf');
    src:url('../Fonts/DaxlinePro-ExtraBold.otf');
    src:url('../Fonts/DaxlinePro-Light.otf');
    src:url('../Fonts/DaxlinePro-Medium.otf');
    src:url('../Fonts/DaxlinePro.otf');

    font-family: "Break Fill";
    src:url('../Fonts/Break-Fill Bold.otf');
    src:url('../Fonts/Break-Fill Extralight.otf');
    src:url('../Fonts/Break-Fill Light.otf');
    src:url('../Fonts/Break-Fill Regular.otf');
    src:url('../Fonts/Break-Fill Semibold.otf');
}
.structurPage
{
    font-family: "DaxlinePro";
    width: 100%;

}
.imgAndStructur
{
    display: flex;
    width: 100%;
    height: 501px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background: url("../images/titleBackground.png") no-repeat ;
    background-size: cover;
    color: #FFFFFF;  
}
.structurPage main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.textAboutStructur
{
    margin-top: 109px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.textAboutStructur p
{
    margin: 0;
    padding: 0px;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1270px;
    margin-top: 46.5px;
    font-family: "Break Fill";
}
.textAboutStructur p:nth-child(1)
{
    margin-top: 0px;

}
.textIcra
{
    align-self: flex-start;
}


.title
{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer
{
    margin-top: 60px;
    background-color: none;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-column-gap: 98px;
    grid-row-gap: 170px;
    grid-template-columns: repeat(2, 1fr);
}

.mainContainer .card
{   
    width: 394px;
    height: 646px;
    background-color:white;
}
.lastItemCenterChecker
{   
    grid-column-start:2;
    grid-column-end: 3;
}
.avatarImage
{   
    width: 394px;
    height: 526px;
    position: absolute;
}

.aboutKatibContainer p
{
    margin: 0;
}

.logoAtgti 
{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 14px;
    margin-left: 7px;
    z-index: 1;
}
.contentAboutAvatar
{
    width: 350px;
    height: 178px;
    position: absolute;
    margin-top: 432px;
    margin-left: 24px;
    background: #465E93;
    padding-top: 36px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.5s;
    hr
    {
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 70%;
        position: absolute;
        margin-top: 100px;
    }
    i
    {
        color: white;
        width: 28px;
        font-size: 28px;
        margin-left:18px ;
        &:nth-child(2)
        {
            margin-left: 10px;
        }
    }
}

.avatarName
{
    margin: 0;
    font-size: 29px;
    font-weight: 700;
    color: white;
}
.avatarSubText
{
    margin: 0;
    font-size: 21px;
    font-family: Break Fill;
    color: #CDCDCD;
    width: 50x !important;
    margin-top: 15px;
    text-align: center;
}
.iconContainer
{
    position: absolute;
    margin-top: 120px;
}

.card:hover .contentAboutAvatar 
{
    box-shadow: 31px -36px 30px rgba(0, 0, 0, 0.25);
}
.idareHeyetiContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subContainer 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 82.5px;
    margin-top: 41px;
}

.buttonContainer
{
    align-self: flex-end;
    width: 110px;
    height: 46px;
    position: absolute;
    margin-left: 1155px;
    top: 5%;
}
.leftButton
{
    width:46px;
    height: 46px;
    float: left;
    border: none;
    background: #465E93;
    box-shadow: 5px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightButton
{
    width:46px;
    height: 46px;
    float: right;
    border: none;
    background: #465E93;
    box-shadow: 5px 1px 4px rgba(0, 0, 0, 0.25);
}
.idareHeyet
{
    width: 395px;
    height: 489px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px  0px 13px 13px  lightgray;
}

.avatarTextContainer
{
    background: #465E93;
    width: 100%;
    color: white;
    font-size: 29px;
    text-align: center;
    height: 62px;
    display: flex;
    margin-top: 29px;
    flex-direction: column;
    justify-content: center;
    transition: 1s background-color;
}
.avatarTextContainer p
{
    margin: 0;
    z-index: 1;
}
.idareImg
{
    z-index: 0.5;
    width: 327px;
    height: 378px;
    padding-top: 51px;
    opacity: 1;
}
.idareHeyet:hover  .overlay 
{
    opacity: 1;
}

.idareHeyet:hover  .avatarTextContainer
{
    background: rgba(70, 94, 147, 0.83);

}

.overlay
{
    position: absolute;
    opacity: 0;
    width: 382px;
    height: 407px;
    background: rgba(70, 94, 147, 0.83);
    padding-top: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s;
    img 
    {
        margin-top:20px ;
    }
    p
    {
        margin: 0;
        margin-top: 26.5px;
        color: white ;
        text-align: center;
        font-size: 21px;
    }
    hr 
    {
        margin: 0px;
        position: absolute;
        margin-top: 175px;
        width: 70%;
    }
    .iconContainer2
    {
        margin-top: 50px;
        display: flex;
        grid-gap: 10px;
        
        i
        {
            color: white;
            width: 28px;
            font-size: 28px;
            margin-left:18px ;
            &:nth-child(2)
            {
                margin-left: 10px;
            }   
        }
    }
    p
    {
        font-family: Break Fill;
    }
}



@media screen and (min-width: 1392px) {
    .mainContainer
    {
        margin-top: 60px;
        background-color: none;
        width: 100%;
        display: grid;
        justify-content: center;
        grid-column-gap: 98px;
        grid-row-gap: 170px;
        grid-template-columns: repeat(3, 1fr);
    }
}
