body 
{
    margin: 0;
    padding:0;
}

@font-face
{
    font-family: "DaxlinePro";
    src:url('../Fonts/DaxlinePro-Bold.otf');
    src:url('../Fonts/DaxlinePro-ExtraBold.otf');
    src:url('../Fonts/DaxlinePro-Light.otf');
    src:url('../Fonts/DaxlinePro-Medium.otf');
    src:url('../Fonts/DaxlinePro.otf');

    font-family: "Break Fill";
    src:url('../Fonts/Break-Fill Bold.otf');
    src:url('../Fonts/Break-Fill Extralight.otf');
    src:url('../Fonts/Break-Fill Light.otf');
    src:url('../Fonts/Break-Fill Regular.otf');
    src:url('../Fonts/Break-Fill Semibold.otf');

    font-family: "LEMONMILK";
    src: url("../Fonts/LEMONMILK-BoldItalic.otf Bold.otf");
    src: url("../Fonts/LEMONMILK-Light.otf");
    src: url("../Fonts/LEMONMILK-LightItalic.otf");
    src: url("../Fonts/LEMONMILK-Medium.otf");
    src: url("../Fonts/LEMONMILK-MediumItalic.otf");
    src: url("../Fonts/LEMONMILK-Regular.otf");
    src: url("../Fonts/LEMONMILK-RegularItalic.otf");

}
.imgAndUmumiMelumat {
    display: flex;
    width: 100%;
    height: 501px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background: url("../images/titleBackground.png") no-repeat ;
    background-size: cover;
    background-position: left bottom;
    color: #FFFFFF;
    font-family: "DaxlinePro";
}

.umumiMelumatPage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 139px;
}
.umumiText1
{
    width: 1200px;
    p
    {
        margin: 0;
        font-size: 24px;
        font-family: "Break Fill";
        &:nth-child(2)
        {
            margin-top: 42px;
        }
    }

}

.threeImg
{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 700px;
}

.mainLogo
{
    position: absolute;
    margin-top: -100px;
}
.img1,.img2,.img3
{
    position: relative;
    margin-top: 150px;
}
.img1 , .img3
{
    margin-top: 216px;
    position: absolute;

}
.img1 
{
    margin-left: -397px;
}
.img3 
{
    margin-left:405px ;
}
.img2
{
    z-index: 2;
}

.umumiText2
{
    font-size: 24px;
    font-family: "Break Fill";
    width: 1200px;
    margin-top: 20px;
}   

.slider1
{
    height: 770px;
    background-color: black;
    margin-top: 100px;
}

.umumiText3
{
    width: 1200px;
    font-size: 24px;
    font-family: "Break Fill";
    margin-top: 30px;
}

.slider1
{
    width: 100%;
    background: url('../images/sliderImg.png') no-repeat;
}
.glide_Container1
{
    width: 72%;
    height: 316px;
    margin-top: 265px;
    margin-right: 326px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DaxlinePro";
}
.glide1
{
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: 400px;
}
.glide__slides1
{
    text-align: center;
    margin-left: 200px;
}
.glide__arrows1 button
{
    border: none;
    &:nth-child(1)
    {
        margin-left: -200px;
    }
    &:nth-child(2)
    {
        margin-right: -20px;
    }
}

.slider1_element1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 482px;
    height: 392px;
    color: white;
    .txt1
    {
        font-size: 22px;    
        margin: 0;
    }
    .nmbr
    {
        font-family: "LEMONMILK"  ;
        font-size: 48px;
        margin: 0;
        margin-top: 30px;
    }
    .txt2Container 
    {
        width: 390px;
        height: 120px;
        margin-top: 15px;
        
        div 
        {
            float: left;
            width: 40%;
            &:nth-child(1)
            {
                width: 60%;
            }
            text-align: center;
            .text3 , .text4
            {
                font-size: 20px;
                font-family: "Break Fill";
                margin: 0;
                margin-top: 20px;
            }
            
        }
    }
}
.forBorder 
{
    border-right: 1px solid gray;
}
.nmbr2 , .nmbr3
{
    font-size: 29px;
    font-family: "LEMONMILK";
    margin: 0;
    margin-top: 16px;
}


.txtContainerGrid
{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 548px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.txt_sosial
{
    font-size: 30px;

}
.slider1_elementGrid
{
    
    hr 
    {
        width: 40%;
        height: 1px;
        margin: 0;
    }
}
.txtContainerGrid div p 
{
    float: left;
}
.txtContainerGrid div:nth-child(1) 
{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.txtContainerGrid div:nth-child(2) 
{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.txtContainerGrid div:nth-child(1) p 
{
    font-size: 20px;
    margin: 0;
    margin-left: 35px;
    margin-top: 25px;
    &:nth-child(1)
    {
        margin-left: 0;
    }
}
.txtContainerGrid div:nth-child(2) p 
{
    font-size: 20px;
    margin: 0;
    text-align: center;
    margin-top: 20px;
    margin-left: 40px;
    font-family: "LEMONMILK";
    font-size: 28px;
    width: 80px;
    &:nth-child(1)
    {
        margin-left: 0;
    }
}





.terefdashlar
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title
    {
        font-size: 35px;
        font-family: "DaxlinePro";
        margin-top: 65px;
        text-align: center;
    }
    .slider2 
    {
        width: 1336px;
        height: 267px;
        box-shadow: 0px 4px 41px 7px rgba(0, 0, 0, 0.25);
        margin-bottom: 100px;
    }
}
.glide_slide2
{
    width: 269px !important;
    height: 269px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s box-shadow;
    filter: grayscale(100%);
    margin:0 !important;
    z-index: 2 !important;

}

.coverOverlay
{
    position: absolute;
    width: 269px !important;
    height: 269px !important;
    border: 1px solid rgba(204, 196, 196, 0.5);
}
.mainOverlayLeft
{
    position: absolute;
    height: 267px;
}
.mainOverlayRight
{
    position: absolute;
    margin-left: 1187px;
    height: 269px;
}
.glide_slide2:hover
{
    box-shadow: 0px 4px 31px 15px rgba(0, 0, 0, 0.25);
    transition: 1s;
    padding: -10px;
    filter: grayscale(0%);
}
.leftButton2
{
    border: none !important;
    box-shadow: none !important;
}
.rightButton2
{
    border: none !important;
    box-shadow: none !important;
}
.glide_bullets2
{
    position: absolute;
    margin-bottom: -100px !important;
}

.glide__bullet2
{
    background-color: rgba(255, 255, 255, 0.5);
    width: 18px !important;
    height: 18px !important;
}