body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "DaxlinePro";
  src: url("../Fonts/DaxlinePro-Bold.otf");
  src: url("../Fonts/DaxlinePro-ExtraBold.otf");
  src: url("../Fonts/DaxlinePro-Light.otf");
  src: url("../Fonts/DaxlinePro-Medium.otf");
  src: url("../Fonts/DaxlinePro.otf");
  font-family: "Break Fill";
  src: url("../Fonts/Break-Fill Bold.otf");
  src: url("../Fonts/Break-Fill Extralight.otf");
  src: url("../Fonts/Break-Fill Light.otf");
  src: url("../Fonts/Break-Fill Regular.otf");
  src: url("../Fonts/Break-Fill Semibold.otf");
  font-family: "LEMONMILK";
  src: url("../Fonts/LEMONMILK-BoldItalic.otf");
  src: url("../Fonts/LEMONMILK-Light.otf");
  src: url("../Fonts/LEMONMILK-LightItalic.otf");
  src: url("../Fonts/LEMONMILK-Medium.otf");
  src: url("../Fonts/LEMONMILK-MediumItalic.otf");
  src: url("../Fonts/LEMONMILK-Regular.otf");
  src: url("../Fonts/LEMONMILK-RegularItalic.otf");
}

.imgAndUmumiMelumat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 501px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  background: url("../images/titleBackground.png") no-repeat;
  background-size: cover;
  background-position: left bottom;
  color: #FFFFFF;
  font-family: "DaxlinePro";
}

.umumiMelumatPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 139px;
}

.umumiText1 {
  width: 1200px;
}

.umumiText1 p {
  margin: 0;
  font-size: 24px;
  font-family: "Break Fill";
}

.umumiText1 p:nth-child(2) {
  margin-top: 42px;
}

.threeImg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 700px;
}

.mainLogo {
  position: absolute;
  margin-top: -100px;
}

.img1, .img2, .img3 {
  position: relative;
  margin-top: 150px;
}

.img1, .img3 {
  margin-top: 216px;
  position: absolute;
}

.img1 {
  margin-left: -397px;
}

.img3 {
  margin-left: 405px;
}

.img2 {
  z-index: 2;
}

.umumiText2 {
  font-size: 24px;
  font-family: "Break Fill";
  width: 1200px;
  margin-top: 20px;
}

.slider1 {
  height: 770px;
  background-color: black;
  margin-top: 100px;
}

.umumiText3 {
  width: 1200px;
  font-size: 24px;
  font-family: "Break Fill";
  margin-top: 30px;
}

.slider1 {
  width: 100%;
  background: url("../images/sliderImg.png") no-repeat;
}

.glide_Container1 {
  width: 72%;
  height: 316px;
  margin-top: 265px;
  margin-right: 326px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "DaxlinePro";
}

.glide1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  margin-left: 400px;
}

.glide__slides1 {
  text-align: center;
  margin-left: 200px;
}

.glide__arrows1 button {
  border: none;
}

.glide__arrows1 button:nth-child(1) {
  margin-left: -200px;
}

.glide__arrows1 button:nth-child(2) {
  margin-right: -20px;
}

.slider1_element1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 482px;
  height: 392px;
  color: white;
}

.slider1_element1 .txt1 {
  font-size: 22px;
  margin: 0;
}

.slider1_element1 .nmbr {
  font-family: "LEMONMILK";
  font-style: normal !important;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  margin-top: 30px;
}

.slider1_element1 .txt2Container {
  width: 390px;
  height: 120px;
  margin-top: 15px;
}

.slider1_element1 .txt2Container div {
  float: left;
  width: 40%;
  text-align: center;
}

.slider1_element1 .txt2Container div:nth-child(1) {
  width: 60%;
}

.slider1_element1 .txt2Container div .text3, .slider1_element1 .txt2Container div .text4 {
  font-size: 20px;
  font-family: "Break Fill";
  margin: 0;
  margin-top: 20px;
}

.forBorder {
  border-right: 1px solid gray;
}

.nmbr2, .nmbr3 {
  font-size: 29px;
  font-family: "LEMONMILK";
  font-stretch: normal !important;
  margin: 0;
  margin-top: 16px;
}

.txtContainerGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  width: 548px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.txt_sosial {
  font-size: 30px;
}

.slider1_elementGrid hr {
  width: 40%;
  height: 1px;
  margin: 0;
}

.txtContainerGrid div p {
  float: left;
}

.txtContainerGrid div:nth-child(1) {
  width: 500px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.txtContainerGrid div:nth-child(2) {
  width: 500px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.txtContainerGrid div:nth-child(1) p {
  font-size: 20px;
  margin: 0;
  margin-left: 35px;
  margin-top: 25px;
}

.txtContainerGrid div:nth-child(1) p:nth-child(1) {
  margin-left: 0;
}

.txtContainerGrid div:nth-child(2) p {
  font-size: 20px;
  margin: 0;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  font-family: "LEMONMILK";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  width: 80px;
}

.txtContainerGrid div:nth-child(2) p:nth-child(1) {
  margin-left: 0;
}

.terefdashlar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.terefdashlar .title {
  font-size: 35px;
  font-family: "DaxlinePro";
  margin-top: 65px;
  text-align: center;
}

.terefdashlar .slider2 {
  width: 1336px;
  height: 267px;
  -webkit-box-shadow: 0px 4px 41px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 41px 7px rgba(0, 0, 0, 0.25);
  margin-bottom: 100px;
}

.glide_slide2 {
  width: 269px !important;
  height: 269px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s -webkit-box-shadow;
  transition: 1s -webkit-box-shadow;
  transition: 1s box-shadow;
  transition: 1s box-shadow, 1s -webkit-box-shadow;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin: 0 !important;
  z-index: 2 !important;
}

.coverOverlay {
  position: absolute;
  width: 269px !important;
  height: 269px !important;
  border: 1px solid rgba(204, 196, 196, 0.5);
}

.mainOverlayLeft {
  position: absolute;
  height: 267px;
}

.mainOverlayRight {
  position: absolute;
  margin-left: 1187px;
  height: 269px;
}

.glide_slide2:hover {
  -webkit-box-shadow: 0px 4px 31px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 31px 15px rgba(0, 0, 0, 0.25);
  -webkit-transition: 1s;
  transition: 1s;
  padding: -10px;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.leftButton2 {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.rightButton2 {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.glide_bullets2 {
  position: absolute;
  margin-bottom: -100px !important;
}

.glide__bullet2 {
  background: #C4C4C4 !important;
  width: 18px !important;
  height: 18px !important;
}

.glide__bullet2:focus {
  background: #386391 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
/*# sourceMappingURL=umumiMelumat.css.map */